body{
    background-color: antiquewhite;
}
.simple{
    position: absolute;
    top: 20%;
    left: 42%;
}
#main{
    width: 300px;
    height:260px;
    background-color: purple;
    border-radius: 10px;
}
input{
    width: 20%;
    height: 40px;
    font-size: 25px;
    margin: 6px;
    border-radius:25px;
    background-color: aqua;
    cursor: pointer;
}
#e{
    width: 95%;
    height: 40%;
    background-color: rgba(227, 238, 219, 0.982);
}
.classic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}